.headerContainer{
    background: #27323E;
}

.Logo{
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
.jsTitle{
    background: linear-gradient(90deg, #FC4A1A 47.9%, #F7B733 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hiButton{
    width: 134px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 40px 40px 40px 0px;
    background: linear-gradient(108deg, #FC4A1A -36.03%, #F7B733 128.44%);
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.headerBg{
    background-image: url("./Images/laptop_phone_clock_178806_1920x1080.jpg");
    background-position: center;
    background-size: contain;
   
}
.myServiceContainer{
    background-image: url("./Images/Ellipse\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}
